.overlay {
  position: absolute;
  top: 200px;
  right: 0;
  bottom: 196px;
  left: 0;
  z-index: 10;
  background-color: rgba(245, 245, 245, 0.89);
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  padding: 48px 96px;
  width: 543px;
  height: 288px;
  background-color: var(--color-white);
}

.title {
  margin-bottom: 16px;
}

.description {
  width: 290px;
  font-weight: 500;
  text-align: center;
}

.loader {
  --loader-size: 72px;
  --loader-thickness: 5px;
  --loader-track-color: var(--color-input);
  --loader-accent-color: var(--color-accent);
  margin-bottom: 32px;
}
