.button {
  display: flex;
  justify-content: center;
  padding: 12px 38px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.filled {
  border: none;
  background-color: var(--color-accent);
  color: var(--color-white);
}

.filled:hover {
  background-color: var(--color-hover);
}

.filled .loader {
  --loader-accent-color: var(--color-white);
}

.outlined {
  border: 1px solid var(--color-accent);
  background-color: transparent;
  color: var(--color-main);
}

.outlined:hover {
  border-color: var(--color-hover);
}

.outlined .loader {
  --loader-accent-color: var(--color-accent);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.loader {
  --loader-size: 24px;
  --loader-thickness: 3px;
  --loader-track-color: transparent;
}
