.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url('/hero-image.jpg') center / cover no-repeat;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
  padding: 0 0 60px 0;
}

.title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: var(--color-white);
}

.description {
  margin-bottom: 40px;
  font-weight: 600;
  color: var(--color-white);
}

.catalogButton {
  width: 276px;
}
