.container {
  position: relative;
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
  padding: 84px 0 104px 0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 32px;
  margin-top: 60px;
  padding: 0;
  list-style: none;
}

.loadMoreButton {
  margin: 48px auto 0;
}
